#logo{
	display:block;
	margin:auto; width:100px;
}
#vidlist li{
	cursor:pointer;
}
#vidlist img{
	margin:8px; padding:3px; border:1px solid #ccc;
}
#vidlist h3{
	margin-left:10px;
}
#showvideo{
	width:100%; margin:15px 0;
}
.pad16{
	padding:16px !important;
}
.gbtn{
	background-color:#3CB878!important; border-color: #3CB878!important;
}









